<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.objective-see.lulu.ios.extension</string>
    <key>CFBundleName</key>
    <string>LuLuExtension</string>
    <key>NetworkExtension</key>
    <dict>
        <key>NEProviderClasses</key>
        <dict>
            <key>com.apple.networkextension.filter-data</key>
            <string>$(PRODUCT_MODULE_NAME).FilterDataProvider</string>
        </dict>
    </dict>
</dict>
</plist>
