<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/App Store.app</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/ApplePushService.framework/apsd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/System/Library/CoreServices/AppleIDAuthAgent</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/AssistantServices.framework/assistantd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/sbin/automount</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/System/Library/PrivateFrameworks/HelpData.framework/Versions/A/Resources/helpd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/sbin/mDNSResponder</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/sbin/mount_nfs</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/libexec/mount_url</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/sbin/ntpd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/sbin/ocspd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/bin/sntp</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/usr/libexec/trustd</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/Applications/LuLu.app/Contents/MacOS/LuLu</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>1</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
	<key>/Applications/LuLu.app/Contents/Library/LoginItems/Lulu Helper.app/Contents/MacOS/LuLu Helper</key>
	<dict>
		<key>action</key>
		<integer>1</integer>
		<key>type</key>
		<integer>1</integer>
		<key>user</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
